<!DOCTYPE html>
<html ng-app="foodForThought">
    <head>
        <title>Food For Thought</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNoYAxxuRzl4SWiI5Rb9i9i-uQq3F0moo&callback=initMap"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> 

    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <div class="container">
        <h4> Hi {{user}}</h4>
        <h3> Tell us a bit about your perfect vacation...</h3>

            <div class="jumbotron mapcontainer" style="height: 300px">
                <div class="mapform" ng-controller="mainFormController">
                    <div style="float:left;margin-right:20px;">
                        <div class = "form-group mapform">
                            <label for="lp">Lodging Price:</label>
                            <input type="text" id="lp">
                            <div id="slider-lodging-price"></div>
                        </div>
                        <div class = "form-group mapform">
                            <label for="rp">Restaurant Price:</label>
                            <input type="text" id="rp">
                            <div id="slider-restaurant-price"></div>
                        </div>
                        <input type="hidden" id="lpmin" ng-model="lpmin" ng-value=5>
                        <input type="hidden" id="lpmax" ng-model="lpmax">
                        <input type="hidden" id="rpmin" ng-model="rpmin">
                        <input type="hidden" id="rpmax" ng-model="rpmax">
                        <div class = "form-group mapform">
                        <label style="display:block">Lodging Type:</label>
                            <table>
                                <tr>
                                    <th><input class="checkbutton" type="checkbox" name="lodgingtype" ng-model="lodgingtype.apartment" value="apartment"> Apartment
                                    <th><input class="checkbutton" type="checkbox" name="lodgingtype" ng-model="lodgingtype.condominium" value="condominium"> Condo
                                </tr>
                                <tr>
                                    <th><input class="checkbutton" type="checkbox" name="lodgingtype" ng-model="lodgingtype.loft" value="loft"> Loft
                                    <th><input class="checkbutton" type="checkbox" name="lodgingtype" ng-model="lodgingtype.house" value="house"> House
                                </tr>
                                <tr>
                                    <th><input class="checkbutton" type="checkbox" name="lodgingtype" ng-model="lodgingtype.hotel" value="hotel"> Hotel
                                    <th><input class="checkbutton" type="checkbox" name="lodgingtype" ng-model="lodgingtype.hostel" value="hostel"> Hostel
                                </tr>
                            </table>
                        </div>                    
                    </div>
                    <div style="float:left;margin-right:20px;">
                        <div class = "form-group mapform">
                            <label for="num_travelers">Number of Travelers: </label>
                            <input type="number" id="num_travelers" ng-model="num_travelers" min="1" max="10+" style="width:50px" value=2>
                        </div>

                        <div class = "form-group mapform">
                            <label for="roomtype">Room Type:</label>
                            <select id="roomtype" ng-model="roomtype">
                                <option value="private-room">Private Room</option>
                                <option value="shared-room">Shared Room</option>
                                <option value="entire-home">Entire Home</option>
                            </select>
                        </div>
                    </div>
                    <div class = "form-group mapform">
                            <button type="button" class="btn btn-info" ng-click="Submit()">
                            <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                    </div>
                </div>
            </div>

            <!--
            <div ng-controller="MapController">
            -->
            <div>
                <div id="googleMap" style="width:100%;height:500px;"></div>
            </div>
        </div>

        <script>
        var customLabel = {
            restaurant: {
            label: 'R'
            },
            lodging: {
            label: 'L'
            }
        };

        function initMap() {
            var mapProp= {
                center:new google.maps.LatLng(40.758896, -73.985130),
                zoom:12,
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

            map.addListener('center_changed', function() {
                console.log(marker.getPosition());
            });

            map.addListener('click', function() {
                console.log('clicked!');
            });
        }
        </script>
    </body>
</html>