.fft {
	font-family: "Lucida Console", Monaco, monospace;
}

.hdr-btn {
	margin-right: 20px;
}

.hdr-el {
	color: #001f3f;
}

.signup-form {
	padding: 30px;
    float: left;
    width: 30%;
    background-color: #8BF7F9;
    border-radius: 2%;
    transition: all .5s ease-in-out;
    border: 1px solid;
    font-weight: bold;
    color: black;
    opacity: 0.8;
}

.signup-form:hover {
  background-image: url("food.jpg");
}
.signup-padding {
	padding: 30px;
    float: left;
    width: 30%;
}

.container-form {
	width: 100%;
	float: left;
	height: 30%;
	padding-top: 50px;
	text-align: center;
}

.page {
	height: 100%;
	width: 100%;
}
.signup-img {
	background: url("bnb-background.jpg");
	background-size: 120%;
}

.signup-img:before {
	background: rgba(0,0,0,0.7);
}

.rowsignup {
	font-family: "Lucida Console", Monaco, monospace;
	color: #FFF;
	opacity: 1.0;
}

.container {
	text-align: center;
}

.btn {
	font-family : inherit;
	font-weight: inherit;
}

.checkbutton {
	margin-left: 5px;
}

.mapcontainer {
	padding-bottom:15px; 
	padding-top:15px; 
	padding-left:30px; 
	padding-right:30px;
	font-family: "Lucida Console", Monaco, monospace;
}

.btn-outline-success {
	margin-left: 10px;
}

.title {
	font-family: "Lucida Console", Monaco, monospace;	
}

.checkbox-container {
	margin: auto;
	width: 100%;
	height: 70px;
	border: 3px solid gray;
	float:left;
	padding: 0px;
	font-size: 15px;
}

.checkbox-spans {
	float: left;
	width: 300px;
	padding: 10px;
}

.vacaform {
	font-family: "Lucida Console", Monaco, monospace;
}

.backbutton {
	text-align: center;
}